@import '../../layouts/variables.styl'

.listitem
	padding: 0.7em 0.7em !important
	&.active
		background: GreyColor !important
	.private-lock
		color: RedColor
	.text
		float: left
		margin-top: 3px
	.rightblock
		float: right
		.icons
			padding-right: 5px
		.label
			margin-left: -3px
			margin-right: -2px
