template(name="listComponent")
	.ui.segments.piled.small
		if currentUser
			.ui.segment
				form.new-list.ui.transparent.icon.input.fluid
					i.icon.edit
					input(type="text" name="text" placeholder="Add List")
		each lists
			+list
