body
	header
		nav.ui.segment.inverted
			div.ui.inverted.secondary.pointing.menu
				a.active.item
					| Todo
				a.item
					| On Verra
				.right.menu
					.item
						.ui.icon.input
							input(type='text', placeholder='Search...')
							i.search.link.icon
					.ui.item.dropdown
						+loginButtons

	main.ui.page.grid
		.row
			h1 Todolist #{incompleteCount}
			.hide-completed.ui.checkbox.slider
				input(type="checkbox")
				label Hide Completed Tasks

		div.four.wide.column
			.ui.vertical.menu
				if currentUser
					.item
						form.new-list.ui.transparent.icon.input
							i.icon.edit
							input(type="text" name="text" placeholder="Add List")
				each lists
					+list
		div.twelve.wide.column
			.ui.relaxed.divided.list.aligned.middle.relaxed
				if currentUser
					.ui.right.labeled.input
						form.new-task.ui.transparent.icon.input
							input(type="text" name="text" placeholder="Type to add new tasks")
							.ui.dropdown.label
								.text Basse
								i.dropdown.icon
								.menu
									.item Basse
									.item Moyen
									.item Haute
				each tasks
					+task

