template(name="list")
	a.item.listitem.list-selected(class='{{#if private}}private{{/if}}' list-id="{{this._id}}" )
		i.icon.delete.ui.red
		if isOwner
			span.toggle-private
				if private
					i.fa.fa-lock.private-lock
				else
					i.fa.fa-unlock.public-lock
		span.text #{text}
		.ui.teal.left.pointing.label
			span #{incompleteCount}
