template(name="task")
	.item.task(class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}")
		.left.floated.content
			.ui.button.teal.toggle-checked(checked="{{checked}}" class="{{#if checked}}buttoncheck{{/if}}")
				i.icon.checkmark
			.ui.empty.circular.label(class="{{priorityColor priority}}")
		if editing
			.ui.action.input.editinginput.fluid
				input.full-input(type="text" value="{{text}}")
		else
			.left.floated.content
				#edit.header #{text}
				.description {{dateFormate createdAt}} -  #{username}
			.right.floated.content.buttons.ui.icon.large
				if isOwner
					.ui.button.toggle-private.toggle
						if private
							i.lock.icon.private-lock
						else
							i.unlock.icon.public-lock
				.ui.button.delete.red
					i.icon.delete
