TealColor 			= #39cccc
GreyColor 			= #e0e1e2
DarkGreyColor 	= #333333
RedColor			= #ff3232
WhiteColor		= #ffffff

.ui.page.grid
	margin-top: 30px

.titleicon
	margin-left: 10px


.task
	&.checked
		text-decoration: line-through
		background: GreyColor
	.private-lock
		color: RedColor
	.buttoncheck
		background: GreyColor !important
	.button.delete
		color: WhiteColor

.listitem
	&.active
		background: GreyColor !important

.sorting
	margin-top: -8px !important
