@import '../../layouts/variables.styl'

.task
	&.checked
		text-decoration: line-through
		background: GreyColor
	.private-lock
		color: RedColor
	.buttoncheck
		background: GreyColor !important
	.button.delete
		color: WhiteColor

.sorting
	margin-top: -8px !important
