template(name="taskComponent")
	if activeList
		.ui.fluid.taskComponent
			if currentUser
				form.ui.action.input.fluid.new-task.huge
					input(type="text" name="text" placeholder="Type to add new tasks" maxlength="110")
					+privacyDropdown
					+priorityDropdown
					button.ui.button.new-task-button(type="submit") New Task

			.ui.clearing.divider
			.hide-completed.ui.checkbox.slider.left.floated.content
				input(type="checkbox")
				label Hide Completed Tasks
			+sortingDropdown
			.ui.clearing.divider
			table.ui.striped.table.teal.very.compact.small
				tbody
					each tasks
						+task
	else
		+textNoList

template(name="textNoList")
	.ui.teal.message.icon
		i.idea.icon
		.content
			.header
				div Need a tips ?
			ul.list
				li Create or Select a List
				li then, add or manage some tasks

template(name="privacyDropdown")
	.ui.selection.dropdown.compact.privacy
		input(type="hidden" name="Privacy")
		i.dropdown.icon
		.default.text Public
		.menu
			.item(data-text="Public")
				i.unlock.icon
				span Public
			.item(data-text="Private")
				i.lock.icon
				span Private

template(name="priorityDropdown")
	.ui.selection.dropdown.priority.compact
		input(type="hidden" name="Priority")
		i.dropdown.icon
		.default.text Priority
		.menu
			+priorityItemDropdown(value="0" text="Normal" color="green")
			+priorityItemDropdown(value="1" text="Important" color="orange")
			+priorityItemDropdown(value="2" text="Urgent" color="red")

template(name="priorityItemDropdown")
	.item(data-value="#{value}" data-text="#{text}")
		.ui.empty.circular.label(class="#{color}")
		span #{text}

template(name="sortingDropdown")
	.ui.dropdown.labeled.icon.button.sorting.right.floated.content
		i.filter.icon
		span.text Filter Tasks
		.menu
			.item(data-value="Recent") Recent
			.item(data-value="Older") Older
			.item(data-value="Alpha") Alpha
			.item(data-value="Pending") Pending
			.item(data-value="Finished") Finished
			.item(data-value="Public") Public
			.item(data-value="Private") Private
			.item(data-value="Priority") Priority
