template(name="task")
	tr.task(class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}} {{this._id}}")
		if editing
			td.collapsing
			td.fluid
				.ui.action.input.editinginput.fluid
					input.full-input(type="text" value="{{text}}" maxlength="110")
			td.collapsing
		else
			td.left.aligned.collapsing
				span.ui.empty.circular.label(class="{{priorityColor priority}}")
				i.info.icon.link(data-content="#{username} - {{dateFormate createdAt}}" data-variation="small inverted")
			td.left.aligned
				#edit.header #{text}
			td.right.aligned.collapsing
				.buttons.ui.tiny.icon
					if isOwner
						.ui.button.toggle-private.toggle.compact
							if private
								i.lock.icon.private-lock
							else
								i.unlock.icon.public-lock
					.ui.button.compact.teal.toggle-checked(checked="{{checked}}" class="{{#if checked}}buttoncheck{{/if}}")
						i.icon.checkmark
					.ui.button.compact.delete.red
						i.icon.delete
