template(name="404")
	.ui.container.content
		.ui.red.message.icon
			i.idea.icon
			.content
				.header
					div 404 NOT FOUND
					br
				.text
					div Sorry but there is nothing here!
						a(href="/") Click here to go back to the Todo List


